In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df=pd.read_csv('../datasets/education_districtwise.csv')
df.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

In [3]:
df.describe(include='all')

,DISTNAME,STATNAME,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,OVERALL_LI
count,680,680,680.000000,680.000000,680.000000,6.340000e+02,634.000000
unique,680,36,NaN,NaN,NaN,NaN,NaN
top,DISTRICT32,STATE21,NaN,NaN,NaN,NaN,NaN
freq,1,75,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.760294,874.614706,121.226471,1.899024e+06,73.395189
std,NaN,NaN,9.585360,622.711657,94.040172,1.547475e+06,10.098460
min,NaN,NaN,1.000000,6.000000,1.000000,7.948000e+03,37.220000
25%,NaN,NaN,5.000000,390.750000,56.750000,8.226940e+05,66.437500
50%,NaN,NaN,8.000000,785.500000,101.000000,1.564392e+06,73.490000
75%,NaN,NaN,13.000000,1204.250000,162.500000,2.587520e+06,80.815000
max,NaN,NaN,66.000000,3963.000000,592.000000,1.105413e+07,98.760000

In [4]:
df.isnull().sum()

DISTNAME       0
STATNAME       0
BLOCKS         0
VILLAGES       0
CLUSTERS       0
TOTPOPULAT    46
OVERALL_LI    46
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

DISTNAME      0
STATNAME      0
BLOCKS        0
VILLAGES      0
CLUSTERS      0
TOTPOPULAT    0
OVERALL_LI    0
dtype: int64

In [7]:
sampled_data=df.sample(n=50, replace=True, random_state=42)

In [11]:
sample_mean= sampled_data['OVERALL_LI'].mean()

In [8]:
confidence_level = 0.95
z_score=1.96  # For 95% confidence level

In [9]:
standard_error= sampled_data['OVERALL_LI'].std()/np.sqrt(sampled_data.shape[0])
margin_of_error = z_score * standard_error
print(f"Margin of Error: {margin_of_error}")
print('standard_error:', standard_error)

Margin of Error: 2.604137431814227
standard_error: 1.3286415468439934

In [12]:
stats.norm.interval(confidence_level, loc=sample_mean, scale=standard_error)

(71.05531041982219, 76.26348958017782)

In [13]:
stats.norm.interval(0.99, loc=sample_mean, scale=standard_error)

(70.23704616972671, 77.0817538302733)